/* Below Classes were used to learn floar property */

/* .box{
    height: 100px;
    width: 200px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both{
    clear: both;
} */

/* Basic Nav Syles */
body{
    margin: 0;
}

.main-nav{
    height: 75px;
    background-color: #D6C9A5;
}

.logo{
    height: 56px;
    padding: 10px;
}

.nav-list{
    float: right;
}

li{
    color: #ffffff;
    float: left;
    padding: 14px 16px;
    /* first value is top/bottom second value is Left/Right */
}

.center{
    text-align: center;
}
/* End Nav Style */

/* Hover Styles */

li:hover {
    font-size: 30px;
    padding: 5px 16px;
}

.main-nav:hover{
    height: 140px;
}

.logo:hover{
    height:120px;
}
/* End of Hover Styles */
/* Content Styles */
.content{
    height: 85vh;
}
/* End of Content Styles */
/* Footer Styles */
.footer{
    background-color: #D6C9A5;
}
.social-media{
    height: 60px;
    margin-bottom:0;
}

a{
    color: white;
    text-decoration: none;
}

.icons{
    height: 25px;
}
/* End of Footer styles */

/* content styles */
.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    /* Google Map Styles */
.map-container{
    padding: 10px 50px;
    display: block; 
}

.google-map{
    display: block;
    height: 350px;
    width: 100%;
}
    /* End of Google Map Styles */

    /* Audio-Visual */
.media{
    height: 55px;
}

audio{
    margin-bottom: 10px;
}

.youtube-video{
    width: 560px;
    height: 315px;
}


    /* End of Audio-Visual */ 

    /* oocss style */
.no-list-style {
    list-style-type: none;
}

.margin-0-auto{
    display: block;
    margin: 0 auto;
}

.button{
    padding: 10px;
    font-size: 24px;
    color: white;
    border-radius: 10px;
    border: none;
}

.button-success{
    background-color: yellowgreen;
}

.button-default{
    background-color: #ccc;
    color: black;
}

.button-danger{
    background-color: red;
}

.button-small{
    width: 150px;
}

.button-large{
    width: 250px;
}
    /* End of oocss style */
/* End of Content Styles */

/* Media Query */
    /* all devices with screens width <= 768px */
@media (max-width: 768px){
    .button{
        font-size: 18px;
    }
}

    /* screen size larger than 768px but smaller than 1024px */
@media(min-width: 768px) and (max-width:1024px){
    .button{
        font-size: 22px;
    }
}
    /* screen size = 1024px */
    @media (min-width:1024px) and (max-width: 1024px) {
        .button{
            font-size: 20px;
        }
    }
/* End of Media Query */